meta(property='og:url' content='//nodejs-web-jade-scaffold.herokuapp.com/')
meta(property='og:type' content='article')
meta(property='og:title' content='Node.js Web Jade Scaffold')
meta(property='og:description' content='Web application featuring Node.js, Express, Jade, Passport, MongoDB and Bootstrap.')
meta(property='og:image' content='/static/images/logo.png')