meta(property='og:url' content='//nodejs-web-jade-scaffold.herokuapp.com/')
meta(property='og:type' content='article')
meta(property='og:title' content='#{__("title")}')
meta(property='og:description' content='#{__("main.cover-description")}')
meta(property='og:image' content='/static/images/logo.png')