meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
meta(http-equiv='cache-control' content='max-age=86400000')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='robots' content='index, follow')
meta(name='description' content='#{__("main.cover-description")}')
meta(name='keywords' content='JavaScript,Node.js,Jade,Express,Passport,Scaffold,MongoDB,Bootstrap,kickstart,opensource')
meta(name='author' content='Rodrigo Gomes da Silva')