meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='@rodrigoagogo')
meta(name='twitter:creator' content='@rodrigoagogo')
meta(name='twitter:title' content='#{__("title")}')
meta(name='twitter:description' content='#{__("main.cover-description")}')
meta(name='twitter:image' content='http://nodejs-web-jade-scaffold.herokuapp.com/static/images/logo.png')