extends layouts/default

block content
    .masthead.clearfix
        .inner
            h3.masthead-brand #{__('error')}
            nav
                ul.nav.masthead-nav
                    li.active
                        a(href='/') #{__('landing-page')}

    .inner.cover
        include includes/messages

        p.lead #{error.message}
        p #{error.stack}