extends layouts/default

block stylesheets

block javascripts
    script(type='text/javascript').
        $('#out-of-the-box-demo').slippry({
            transition: 'fade',
            slippryWrapper: '<section id="tech-slider"/>',
            captions: false,
            pager: false
        });

block content
    .masthead.clearfix
        .inner
            h3.masthead-brand #{__('landing-page')}
            if AUTH_CONFIG.ENABLED
                nav
                    ul.nav.masthead-nav
                        li.active
                            if user
                                a(href='/auth/logout') #{__('logout')}
                            else
                                a(href='/auth/login') #{__('login')}

        include includes/messages

        if user
            include includes/user-info
        else
            include includes/landing