doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        include ../includes/twitter-cards

        block meta

        title #{__('title')}

        link(rel='stylesheet' href='/static/stylesheets/style.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous')
        link(rel='stylesheet' href='/static/vendor/bootstrap-social/bootstrap-social.css')
        link(rel='stylesheet' href='/static/vendor/font-awesome/css/font-awesome.min.css')

        block stylesheets
        link(rel='stylesheet' href='/static/stylesheets/cover.css')
    body
        .site-wrapper
            .site-wrapper-inner
                .cover-container
                    block content
                    .mastfoot
                        .inner
                            include ../includes/footer

        script(src='/static/javascript/application.js')
        script(src='/static/vendor/jssor-slider/js/jssor.slider.mini.js')
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous')
        
        block javascripts